.img-container {
    background-image: url('./imagenes/fondo-verde-login.jfif'); 
    background-size: cover;
    background-position: center;
} 

.bolita {
    width: 130px;
    height: 130px;
    background-color: rgb(46, 97, 36);
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: -720px;
    opacity: 0.8;
}

